.skills {
    padding-top: 126px;
    &__title {
        position: relative;
        text-align: center;
        @include before-circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        // margin-top: 60px;
        margin-top: 60px;
        display: grid;
        grid-template: repeat(auto-fill, minmax(270px, auto)) / repeat(auto-fill, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;

        &__item {
            padding: 30px 30px 25px 30px;
            width: 270px;
            min-height: 270px;
            border: 1px solid black;
            &-img {
                min-height: 65px;
            }
            &-head {
                margin-top: 20px;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
            }
            &-descr {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
            }
        }

    }
}